.header{
    font-family: 'Baloo', cursive;
    color: rgb(253, 217, 56);
    text-decoration: underline;
    
    
}
.heading{
    padding-top: 5%;
    font-size: 3em;
}

.voyagePage{
    background-image: url("https://wallpapers-house.com/data/out/10/wallpaper2you_405736.jpg");
    background-repeat: no-repeat;
    margin: 0, 0, 0, 0;
    padding: 0;
}

.formDiv{
    padding: 50px;
    border-radius: 100px;
    /* background: rgba(2, 178, 247, .5) */
    background: rgba(255, 255, 255, 0.5)
}
.padding{
    padding: 22%;
}
b{
    letter-spacing: 1px;
    font-size: 24px;
    font-family: 'Baloo', cursive;
    color: rgb(51, 51, 51);
}
input, textarea{
    color: black;
    text-align: center;
}

::placeholder{
    color: black;
    opacity: .5;
}
textarea{
    height: 100px;
}
#submitbtn{
    background-color: #F76C6C;
    width: 11em;
    height: 3.5em;
    border-radius: 50px;
    padding: 1em;
    font-size: 0.8em;
    letter-spacing: 1px;
}