.title h4{
  justify-content: center;
  text-align: center;
  color: rgb(131, 131, 153);
  margin-top: 6%;
  font-size: 200%;
  font-family: 'Concert One', cursive;
  text-shadow: #8a8686 1px 2px 2px;

}

.title p{
    font-size: 120%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-bottom: 1%;
}

.row {
    justify-content: center;
    text-align: center;
}
