.container {
  background-color: white;
  background-image: url('https://cdn.dribbble.com/users/1492844/screenshots/3307274/travel.gif');
  background-position: top;
  background-size: 105%;
  background-repeat: no-repeat;
  background-position-y: 10em;
} 
