@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}

/* #Primary style
================================================== */

.section {
    position: relative;
	width: 100%;
	display: block;
}
.over-hide{
	overflow: hidden;
}
.full-height {
	height: 100vh;
}

/* #Navigation
================================================== */
 
.cd-header{
    position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:100;
} 
.header-wrapper{
    position: relative;
	width: calc(100% - 100px);
	margin-left: 50px;
} 
.logo-wrap {
	position: absolute;
	display:block;
	right:10px;
	top: 50px;
	cursor: pointer;
}
.logo-wrap a {
	cursor: pointer;
    font-family: 'Concert One', cursive;
	font-weight: 900;
	font-size: 38px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #F76C6C;
	transition : all 0.3s ease-out;
}
.logo-wrap a span{ 
    color: #374785;
}
.logo-wrap a:hover {
	opacity: 0.5;
}
.nav-but-wrap{ 
	position: relative;
	display: inline-block;
	padding-left: 15px;
	padding-top: 20px;
	margin-top: 26px;
	transition : all 0.3s ease-out;
}
.nav {
	position: fixed;
    z-index: 98;
}

.nav-item {
	font-size: 110%;
	font-family: Montserrat;
	font-weight: 600;
}

.nav-item :hover {
	color: beige;
	display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
	shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);    
	backface-visibility: shadow;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.4s;
    transition-property: transform;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
    transform: scale(1.1);
}
