body {
	background-color: #1f2029;
  background-image: url('https://cdn.dribbble.com/users/398490/screenshots/2189858/airplane-for-dribbble.gif');
  background-position: top;
  background-size: 100%;
	
} 